<li><a href="index.html">Overview</a></li>

<li><a href="http://github.com/jbryer/likert">Project Page&nbsp;<img src='/images/github.png' border='0' width='18' height='18' style='vertical-align: bottom'></a></li>
<li><a href="https://github.com/jbryer/likert/blob/master/useR%202013/Abstract/Speerschneider.Bryer.likert.pdf?raw=true">useR! Abstract&nbsp;<img src='/images/pdf.png' border='0' width='16' height='16' style='vertical-align: bottom'></a></li>
<li><a href="https://github.com/jbryer/likert/blob/master/useR%202013/Slides/Slides.pdf?raw=true">useR! Slides&nbsp;<img src='/images/pdf.png' border='0' width='16' height='16' style='vertical-align: bottom'></a></li>
<li><a href="http://cran.r-project.org/web/packages/likert/index.html">CRAN&nbsp;<img src='/images/link.gif' border='0'></a></li>
<div style="border-bottom: 1px solid #CFCFCF; margin: 10px;"></div>
