<nav>
<ul>
{% if page.submenu == 'pisa' %}{% include menu-pisa.html %}
{% elsif page.submenu == 'retention' %}{% include menu-retention.html %}
{% elsif page.submenu == 'ipeds' %}{% include menu-ipeds.html %}
{% elsif page.submenu == 'irutils' %}{% include menu-irutils.html %}
{% elsif page.submenu == 'likert' %}{% include menu-likert.html %}
{% elsif page.submenu == 'makeR' %}{% include menu-makeR.html %}
{% elsif page.submenu == 'multilevelPSA' %}{% include menu-multilevelPSA.html %}
{% elsif page.submenu == 'qualtrics' %}{% include menu-qualtrics.html %}
{% elsif page.submenu == 'sqlutils' %}{% include menu-sqlutils.html %}
{% elsif page.submenu == 'trimatch' %}{% include menu-trimatch.html %}
{% elsif page.submenu == 'naep' %}{% include menu-naep.html %}
{% elsif page.submenu == 'talks' %}{% include menu-talks.html %}
{% elsif page.submenu == 'none' %}			
{% endif %}
{% include menu.html %}
</ul>
</nav>
