<li><a href="index.html">Overview</a></li>
<li><a href="project.html">Projects</a></li>
<li><a href="builders.html">Custom Builders</a></li>
<li><a href="development.html">Development</a></li>
<li><a href="http://cran.r-project.org/web/packages/makeR/vignettes/makeR.pdf">Vignette&nbsp;<img src='/images/pdf.png' border='0' width='18' height='18' style='vertical-align: bottom'></a></li>
<li><a href="http://github.com/jbryer/makeR">Project Page&nbsp;<img src='/images/github.png' border='0' width='18' height='18' style='vertical-align: bottom'></a></li>
<li><a href="http://cran.r-project.org/web/packages/makeR/index.html">CRAN&nbsp;<img src='/images/link.gif' border='0' width='18' height=18 style='vertical-align:bottom'></a></li>
<div style="border-bottom: 1px solid #CFCFCF; margin: 10px;"></div>
